@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-text {
    background: linear-gradient(90deg, #ff8c00, #ff2e63, #6a5acd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.layout-bg{
  background-image: url("./assets/Rect Light.svg");
}

.nav-bg{
  background: linear-gradient(90deg, #1a1a40, #2d2a59)
}

.nav-active{
  background-color: #7b68ee;
}

.hover-color{
  background: #806cf0ea;
}